<!-- Dashboard as seen by the librarian -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
 </head>
 <body>
    <center><h2>बुक गरिएका तर नलगिसकेका सामानहरुको वृस्तित विवरण</h2></center>
    <br><br>

    <table>
        <tr>
            <th>नाम</th>
            <th>फोटो</th>
            <th>लग्नेको रोल नम्बर</th>
            <th>बुक गरिएको मिति</th>
            <th>सामान हस्तान्तरण गरियो</th>
        </tr>

        {% for item in items %}
            <tr>
                <th>{{item[0]}}</th>
                <th>{{item[1]}}</th>
                <th>{{item[2]}}</th>
                <th>{{item[3]}}</th>
                <!-- ID is item[4] -->
                <th><Button onclick="pass_ownership({{item[4]}})">विद्यार्थी सामान लिन आए</Button></th>
            </tr>

        {% endfor%}
    </table>
    <br><br>
    <h2>बुक गरिएका र विद्यार्थी ले लयाउनु पर्ने सामानहरु</h2>

    <table>
        <tr>
            <th>नाम</th>
            <th>फोटो</th>
            <th>लानेको रोल नं</th>
            <th>समय वाँकि</th>
            <th>सामान हस्तान्तरण गरियो ?</th>
        </tr>

            {% for item in returns %}
            <tr>
                <th>{{item[0]}}</th>
                <th>{{item[1]}}</th>
                <th>{{item[2]}}</th>
                <th>{{item[3]}}</th>
                <!-- ID is item[4] -->
                <th><Button onclick="return_owernship({{item[4]}})">विद्यार्थी सामान पुर्याउन आए</Button></th>
            </tr>

        {% endfor%}

    </table>

    
 </body>

 <script>
    function pass_ownership(id){
        // makes a request, to change the item from hold state to own state
        fetch("/own-item",{
            method:'POST',
            headers:{
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    id: id
                }
            )   
        }).then( r=> r.json())
        .then( d=>{
            if (d.success == true){
                window.location.href = "/arena";
            }
        })
        .catch( e => console.log(e));
    }

    function return_owernship(id){
        // makes a request, to change the item from hold state to own state
        fetch("/return",{
            method:'POST',
            headers:{
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    id: id
                }
            )   
        }).then( r=> r.json())
        .then( d=>{
            if (d.success == true){
                window.location.href = "/arena";
            }
            console.log(d);
        })
        .catch( e => console.log(e));
    }
 </script>
 </html>