<html>

	<body>
		Bare Minimum for test purposes

		<h2> Select a thing you want from the list below. information about it is provided </h2> 
		<h3> TODO: Implement a search feature</h3>
	</body>

	<!-- flash messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
			{% for category, message in messages %}
			<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}

	<!-- main section for items -->
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Image</th>
			<th>Available</th>
			<th>Info</th>
			<th>Book</th>
		</tr>

		{% for item in items %}
			<tr>
				<th>{{item.id}}</th>
				<th>{{item.name}}</th>
				<th>{{item.description}}</th>
				<th>{{item.image_path}}</th>
				<th>{{item.available}}</th>
				<th><Button onclick="click_info({{item.id}})">Info?</Button></th>
				<th><Button onclick="click_book({{item.id}})" {% if item.available < 1%}disabled{%endif%}>Book?</Button></th>
			</tr>
		{% endfor %}
	</table>

<script src="{{url_for('static',filename='javascript/index.js')}}"></script>
</html>
